.container-contact {
  padding: 0 1rem 30vh;
}

.contact-form {
  margin-top: 4rem;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.form-input {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 50px;
  border: 0;
  box-shadow: inset 0 0 20px rgba(228, 13, 228, 0.698);
  background-color: rgba(255, 255, 255, 0.719);
  outline: none;
}
.form-textarea {
  font-size: 1rem;
  font-family: inherit;
  width: 100% !important;
  height: 100px !important;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
  box-shadow: inset 0 0 20px rgba(228, 13, 228, 0.698);
  background-color: rgba(255, 247, 247, 0.719);
  outline: none;
}

.container-contact button {
  margin-top: 2rem;
}

.form-error {
  text-align: center;
  margin-bottom: -1rem;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
  box-shadow: inset 0 0 20px rgba(255, 6, 6, 0.698);
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 960px) {
  .container-contact {
    max-width: 600px;
    margin: auto;
  }

  .form-textarea {
    height: 150px !important;
  }
}

@media only screen and (min-width: 1300px) {
  .mobile {
    display: none;
  }
  .form-input,
  .form-textarea {
    font-size: 1.5rem;
  }
}
