@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-image: url(../img/sec-bg-mobile.png);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000000;
  color: white;
}

@media only screen and (min-width: 960px) {
  body {
    background-image: url(../img/main-bg.jpg);
    width: 100%;
    overflow-x: hidden;
    background-position: bottom center;
  }
}
