@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  background-image: url(../media/rsz_sec-bg-mobile.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  color: white;
}

@media only screen and (min-width: 960px) {
  body {
    margin: 0 auto;
    background-image: url(../media/rsz_main-bg.jpg);
    overflow-x: hidden;
    background-position: center bottom;
  }
}
