.container-satellites {
  margin: 3rem 0;
  max-width: 1920px; /* stop using the important rule, you will get fired */
}

.card-deck {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  padding: 1rem;
  margin-bottom: 4rem;
}

.card {
  padding: 1rem;
  margin-right: 2rem;
  width: 170px;
  height: 170px;
  display: grid;
  gap: -100px;
  justify-items: center;
  text-align: center;
  background-color: rgba(73, 12, 73, 0.698);
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(228, 13, 228, 0.698);
}

.card img {
  margin-top: 1.5rem;
  width: 2rem;
  height: 2rem;
}

.card .satellite-name {
  font-weight: 700;
}

.card .satellite-nationality {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  line-height: 2rem;
  font-weight: 300;
}

@media only screen and (min-width: 960px) {
  .card-container {
    margin-top: 5rem;
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  .card {
    margin-bottom: 2rem;
  }
}
