.container-specificSatellite {
  position: absolute;
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 0 16px 3rem;
  margin-bottom: 10rem;
  white-space: nowrap;
  box-sizing: border-box;
}

.container-specificSatellite ul {
  display: block;
  white-space: pre-wrap;
  margin: 0 0 2rem;
  padding: 0;
  width: 100%;
}

.container-specificSatellite ul {
  display: block;
  white-space: pre-wrap;
  margin: 0 0 2rem;
  padding: 0;
  width: 100%;
}

.container-specificSatellite li {
  width: 100%;
  margin-bottom: 0.8rem;
}
.satellite-img {
  width: 100%;
  display: grid;
  justify-items: center;
  margin: 32px 0;
}

.satellite-img img {
  width: 128px;
}

.gradientback {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  background: -moz-linear-gradient(
    top,
    rgba(137, 255, 241, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(137, 255, 241, 0)),
    color-stop(100%, rgba(0, 0, 0, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(137, 255, 241, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(137, 255, 241, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(137, 255, 241, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(137, 255, 241, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
